<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supervisions.modules.dao.ITenDeviceDao">

    <resultMap type="TenDevice" id="TenDeviceResult">
        <id     property="id"	column="id"	/>
        <result property="createTime"	column="create_time"	/>
        <result property="updateTime"	column="update_time"	/>
        <result property="version"	column="version"	/>
        <result property="deviceId"	column="device_id"	/>
		<result property="leftId"	column="left_id"	/>
        <result property="rightId"	column="right_id"	/>
        </resultMap>

    <select id="selectDeviceByDeviceId" parameterType="String" resultMap="TenDeviceResult">
		select *
		from ten_device
		where device_id = #{deviceId} limit 1
	</select>

    <update id="update" parameterType="TenDevice">
        update ten_device
        <set>
            update_time = #{updateTime},
            version = #{version},
            device_id = #{deviceId},
            left_id = #{leftId},
            right_id = #{rightId}
        </set>
        where 1=1
        and id = #{id} and version = #{version}-1
    </update>

    <insert id="insert" parameterType="TenDevice">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
            select nextval('ten_device_id');
        </selectKey>
        insert into ten_device(<trim suffixOverrides=",">
        id,
        create_time,
        version,
        device_id,
        left_id,
        right_id
    </trim>
        )values(<trim suffixOverrides=",">
        #{id},
        #{createTime},
        #{version},
        #{deviceId},
        #{leftId},
        #{rightId}
    </trim>
        )
    </insert>

</mapper>